* {
  margin: 0;
  padding: 0;
}

body { 
  border:1px solid #2551c0;
  font-size: 57%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #dbe2f34f;
}

.title {
  padding-top: 5%;
  font-size: 16px;
  padding-left: 30%;
}

button {
  background-color: #c7d2e2;
  padding: 5px;
}

.allElements {
  width: 100%;
  font-size: 2em;
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-top: 5%;
}

.sideElement {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sideElement .container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.sideElement .ScoreList {
  list-style: none;
  border: 1px solid black;
}

.sideElement .ScoreList li {
  border-bottom: 1px solid black;
  padding: 0 0.5em;
}

.sideElement .ScoreList li:nth-of-type(even) {
  background-color: #6051e673;
}

.Forms {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.Forms .input-form {
  padding: 0.5em;
}

.Forms .btn {
  width: max-content;
  padding: 0.5em;
}
